# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea
.vscode
*.sublime-project
*.sublime-workspace
.sublimelinterrc

# OS metadata
.DS_Store
Thumbs.db

# Logs
*.log

# Caches
*.cache
cache/

# Composer
vendor
